@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

body {
  @apply bg-gray-100 text-gray-800 font-opensans;
}

@theme {
  /* google font */
  --font-rubik: "Rubik", sans-serif;
  --font-opensans: "Open Sans", sans-serif;

  --breakpoint-sm: 640px; /* 640px small phones*/
  --breakpoint-md: 768px; /*tablets / portrait*/
  --breakpoint-lg: 992px; /*main desktop layout breakpoint*/
  --breakpoint-xl: 1190px; /* desktop*/
  --breakpoint-2xl: 1536px; /* very wide*/

  --color-primary: #2874f0;
}

h1,
h2,
h3,
h4 {
  @apply font-rubik;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.section-con {
  @apply mx-auto w-full md:max-w-[950px] lg:max-w-[1200px] xl:max-w-[1400px] 2xl:max-w-[1500px];
}

.FooterDescription-con {
  @apply m-auto w-full md:max-w-[970px] lg:max-w-[1250px] xl:max-w-[1460px] 2xl:max-w-[1500px] xl:pt-[50px];
  padding-bottom: 20px;
}

.FooterDescription-con p {
  @apply text-[12px] text-gray-500;
}

.footer-top a,
.footer-top p {
  @apply text-[10px] xl:text-[11px] font-semibold;
}
.footer-buttum a {
  @apply text-[8px] xl:text-[12px] font-light;
}
